html {
    margin: 0;
  }
header {
    width: 100%;
}

.navClass {
    background-color: black;
    padding: 10px;
    width: 100%;
}

nav img{
    height: 100px;
}
nav h1 {
    color: white;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: clamp(0.8rem, 3vw, 1.2rem); 
    font-weight: 700;
}
nav ul img {
    height: 60px; 
    margin: 0 20px; 

}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h2{
    font-family: 'Bebas Neue';
}
.menuImagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menuImagenes img {
    width: 350px;
    height: auto; 
    margin: 10px; 
    border-radius: 10px;
}

.home-section {
    background-image: url("img/Background-image.jpg");
    background-size: cover;
    background-position: center;
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;

  }
  .home-section h2 {
    font-size: 2.5rem; 
  }
  .home-section p {
    font-size: 1.2rem; 
  }
.home-section h2,
.home-section p {
  background-color: rgba(0, 0, 0, 0.354);
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px; 
}
.nosotros-section {
    display: flex;
    flex-direction: row; 
    align-items: center; 
}
.nosotros-section .nosotros-text{
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
}
.nosotros-section h2{
    font-size: 4rem;
    margin-bottom: 5px;
}
.nosotros-section img {
    width: 40%; 
    height: auto; 
    margin-left: auto; 
}

.nosotros-section p {
    margin-right: 20px; 
    flex: 1; 
}

.menu-section {
    background-image: url("img/Menu-background.jpg"); 
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0; 
    
}
.menu-section h2{
    font-size: 6rem;
    text-align: center;
    color: white;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.menu-item {
    position: relative;
    overflow: hidden;
}

.menu-item img {
    transition: filter 0.3s ease;
}

.ingredientes {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 94.6%;
    height: 93.6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
}

.ingredientes h2 {
    order: 1; 
    margin-bottom: 0; 
    font-size: 3rem;
}

.ingredientes p {
    order: 2; 
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu-item:hover .ingredientes {
    opacity: 1;
}

.locales-section {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locales-contenido {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px; /* Añadido */
}

.locales-info {
    text-align: center;
    margin-right: 20px;
    flex: 1;
}

.locales-info h2 {
    text-align: center; /* Centrar el título "Locales" */
    font-size:  3rem;
    
}

.local-item {
    margin-top: 10px;
    text-align: left;
    padding-left: 8rem;
}

.locales-imagen {
    width: 40%;
}

.locales-imagen img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    padding-top: 3rem;
    margin-right: 3rem;
    padding-bottom: 3rem;
}

.valores-section {
    text-align: center;
  }

.valores-section h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
    padding-left: 2rem;
}

.valores-section h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.valores-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    padding: 0 20%;
}

.valores-section ol {
    padding: 0;
    margin: 0;
}

.valores-section ol li {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.contacto-section{
    margin-left: 2rem;
}
.contacto-section h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
    padding-left: 2rem;
}

.contacto-section .redes-sociales img {
    width: 1.5rem;
    height: 1.5rem;
} 
.contacto-section .redes-sociales  p {
    color: black;
    margin-bottom: 5px;
    
}
.contacto-info {
    padding-left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.info-derecha {
    padding-left: 20rem;
}
.red-social {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.red-social a {
    color: black;
}
